{% load static %}
{% load rc_template_tags %}
<!DOCTYPE HTML>
<html>

<head>
  <title>Resource Center | {% block head_title %}Home{% endblock head_title %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
  <noscript>
    <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
  </noscript>
  <style>
    .errorlist {
      list-style: none;
      padding-left: 0;
      margin: 0;
      font-size: smaller;
      color: rgba(255, 17, 0, 0.795);
      font-style: italic;
    }

    .errorlist li {
      padding-left: 0;
    }
  </style>
  {% block extra_head %}
  {% endblock extra_head %}
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-N0HKZMYBTL"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-N0HKZMYBTL');
	</script>
</head>

<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper" class="fade-in">
    <div class="col-sm-12">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}
                     alert-dismissible fade show" role="alert">
        <span
          class="badge badge-pill badge-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}">{{message.tags}}</span>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
    </div>


    {% block intro %}

    {% endblock intro %}
    <!-- Header -->
    <header id="header">
      <a href="{% url 'resourcecenter:home' %}" class="logo">Resource Center</a>
    </header>


    <!-- Nav -->
    <nav id="nav">
      <ul class="links">
        <li><a href="{% url 'resourcecenter:home' %}">Resource Center</a></li>
        {% if request.user.is_authenticated %}
        {{request.user|downloadlist_shortcut|safe}}
        {% endif %}

        <li id="upload-nav"><a href="{% url 'resourcecenter:upload' %}">Upload File(s)</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'resourcecenter:my_account' %}">My Account</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign in</a></li>
        <li><a href="{% url 'account_signup' %}">Sign up</a></li>
        {% endif %}
        <li><a href="{% url 'resourcecenter:statistics' %}">Statistics</a></li>

      </ul>
      <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
      </ul>
    </nav>
    <!-- Main -->
    <div id="main">
      {% block content %}
      {% endblock content %}
    </div>

    <!-- Footer -->
    <footer id="footer">
      <section>
        <form method="post" action="#">
          <div class="fields">
            <div class="field">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" />
            </div>
            <div class="field">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" />
            </div>
            <div class="field">
              <label for="message">Message</label>
              <textarea name="message" id="message" rows="3"></textarea>
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Send Message" /></li>
          </ul>
        </form>
      </section>
      <section class="split contact">
        <section class="alt">
          <h3>Address</h3>
          <p>1234 Somewhere Road #87257<br />
            Nashville, TN 00000-0000</p>
        </section>
        <section>
          <h3>Phone</h3>
          <p><a href="#">(000) 000-0000</a></p>
        </section>
        <section>
          <h3>Email</h3>
          <p><a href="#">info@untitled.tld</a></p>
        </section>
        <section>
          <h3>Social</h3>
          <ul class="icons alt">
            <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
            </li>
            <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
            </li>
            <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
          </ul>
        </section>
      </section>
    </footer>

    <!-- Copyright -->
    <div id="copyright">
      <ul>
        <li>&copy; Untitled</li>
        <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>

  </div>

  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
  <script src="{% static 'assets/js/browser.min.js' %}"></script>
  <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
  <script src="{% static 'assets/js/util.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>

  <script>
    if (document.location.pathname == "/resourcecenter/upload") {
      document.getElementById("upload-nav").classList.add("active")
    }
  </script>

  <script>
    $("document").ready(function () {
      setTimeout(function () {
        $(".alert").fadeOut()
      }, 5000)

    })
  </script>
  <script>
    $(document).ready(function () {
      let url = "{% url 'resourcecenter:traffic' %}"
      let request = new XMLHttpRequest();
      request.open("GET", url);
      request.send()
    })
  </script>

  {% block extra_scripts %}
  {% endblock extra_scripts %}

</body>

</html>