{% extends "account/other_pages_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="col-lg-6 m-auto">
    <div class="box">
        <h2>{% trans "Change Password" %}</h2>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="button primary col-12" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
</div>
{% endblock %}