*.log
*.pot
*.pyc
__pycache__
db.sqlite
media
mediafiles
temp
staticfiles

*.bak
*.bk

.env

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
