{% extends 'base.html' %}
{% load static %}
{% load rc_template_tags %}

{% block extra_head %}

{% endblock extra_head %}

{% block title %}TOS | Resource Center{% endblock title %}

{% block content %}
<div>
    <h2>Terms of Service</h2>
    <p>Resource Center is a file hosting service. Users may use Resource Center's service only if they agree to the
        following Terms Of Service("TOS"). By uploading to Resource Center, users agree to these terms.</p>

    <p>Users may not upload any files that infringe copyrights, pornography and sexually explicit images and videos,
        images or videos expressing hate or racism, or similar files.</p>

    <p>Note, in particular, that any and all content related to child pornography is strictly illegal and all
        information
        related to such content will be provided to law enforcement without exceptions.</p>

    <p>Users may not upload any files that are considered illegal in their country.</p>

    <p>Users are responsible for the files they upload. Resource Center is not responsible for any damage caused by
        files
        uploaded by it's users.</p>

    <p>Resource Center offers no guarantee whatsoever referring to the reliability of the service. Resource Center may
        not be held responsible for any loss of any kind caused by the temporary unavailability or permanent closure of
        its
        website.</p>

    <p>Resource Center reserves the right to delete any files hosted here for any reason. The owner of this site
        reserves
        the right to modify the Terms Of Service("TOS") at any time and without prior notice.</p>

</div>
{% endblock content %}


{% block extra_scripts %}

{% endblock extra_scripts %}